[Unit]
Description=A kludgy tool to monitor and switch USB modes on Caledonia.
Requires=local-fs.target
After=syslog.target

[Service]
Type=simple
ExecStart=@BINDIR@/usbc_helper

[Install]
WantedBy=multi-user.target
